body {
    background-image: url(bg.jpg);
    background-size: cover;
    background-color: rgb(11, 11, 79);
}

h1 {
    font-family: cursive;
    color: papayawhip;
}

h2 {
    font-family: cursive;
    color: #8DECB4;
}

h3 {
    font-family: cursive;
    color: seashell;
}

hr {
    border-style: dotted;
    border-color: aquamarine;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    border-style: inset;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: #FFBB70;
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: #FFEC9E;
  }  

  tbody > tr:nth-of-type(odd) {
    background-color: #FFF2D7;
  }  
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }

.profile-pic {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic img {
    width: auto;
    height: 100%;
    margin-left: -70px;
}

.column {
    flex:33.33%;
    margin-right: 1px;
}
.column img {
    width: 85%;
    height: auto;
    border-radius: 50%;
}
.row {
    display: flex;
}